header{
    background: rgb(143, 148, 134);
}

section{
    background: yellow;
}

h1 ,h2 ,h3{
    color: red;
}

/* Seleccionamos hijos sin importar el nivel */

.anuncios .textoAnuncio{
    background: chocolate;
    color: white;
}
.tarjeta{
    background: royalblue;
}

/* Seleccionamos hijos especificos  */
.tarjeta > .cuerpo-tarjeta{
    background:salmon ;
}

.tarjeta > .pie-pagina-tarjeta{
    background: green;
}

.tarjeta > .cuerpo-tarjeta > p, h4 {
    color: black;
}